<form method="post" action="{% url 'goal_app:subgoal_delete' subgoal.pk %}" class="js-subgoal-delete-form">
  {% csrf_token %}
  <div class="modal-header">
    <h5 class="modal-title">Confirm subgoal deletion</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the subgoal <strong>{{ subgoal.subgoal_title }}</strong> with all it's activities?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel & Close</button>
    <button type="submit" class="btn btn-danger">Delete subgoal</button>
  </div>
</form>
